<footer>
    <div class="footer--group">
        <div class="footer--logo">Ótica</div>
        <p>Se você pode enxegar, se você pode sonhar </p>
        <div class="footer-social">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-whatsapp"></i></a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Ótica Estilo - contato@gmail.com</p>
        <p>@ 2024 All Rights Reserved</p>
    </div>
</footer>
<div class="whatsapp">
    <a target="_blank" href="https://api.whatsapp.com/send?phone=551100000000&text=Quero%20fazer%20um%20agendament">
        <img src="assets/images/whatsapp1.png" alt="">
    </a>
</div>
<script src="assets/js/scroll.js" type="text/javascript"></script>
<script src="assets/js/object.js" type="text/javascript"></script>
<script defer src="assets/js/scroll-animate.js" type="text/javascript"></script>
<script defer src="assets/js/slide-banner.js" type="text/javascript"></script>
<script defer src="assets/js/form-input-error.js" type="text/javascript"></script>
<script defer src="assets/js/slide-feedback.js" type="text/javascript"></script>
<script defer src="assets/js/modal-slide.js" type="text/javascript"></script>
</body>

</html>